*{
	margin: 0;
	padding: 0;
	font-family: 'calibri','Segoe UI', Tahoma , Verdana ,arial,tahoma,sans-serif ;
}

body{
	background-color: #b9f0f0;
}

#wrapper{
	width: 920px;
	margin: 0 auto;
	overflow: hidden;
}

#header{
	 background: url() repeat-x rgb(94, 94, 94);
	 border-radius: 20px;
	 height: 92px;
	 width: 917px;
	 padding: 3px;
	 margin: 20px 0;
	 overflow: hidden;
}



#header img{
	width: 51px;
	height: 52px;
}

#menu-utama {
	margin-top: 3px;
	list-style: none;
}

#menu-utama li {
	float: left;
	padding: 8px 20px;
	border-right: 1px solid #555555;
}

#menu-utama li a{
	color: #ffffff;
	text-decoration: none;
}

#header form {
	float: right;
	margin-top: 7px;
	margin-right: 10px;
}

#header form input{
	border: none;
	height: 20px;
}


#daftar-artikel{
	width: 600px;
	float: left;
}

.artikel{
	background: #ffffff;
	padding: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}

.artikel img {
	float: left;
	margin-right: 10px;
	width: 200px;
	height: 165px;
}

.artikel b {
	color: #616060;
	background: #DDDDDD;
	padding: 3px;
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
}

.artikel p {
	margin: 10px 0;
}

.artikel a {
	display: block;
	text-align: right;
	color: #636363;
}

#sidebar{
	width: 270px;
	float: right;
	margin-top: -5px;
}


#sidebar h2 {
	font-size: 18px;
	margin: 10px 0;
}

.sidebar p {
	line-height: 20px;
	color: #636363;
}

.sidebar ul li a {
	color: #636363;
	text-decoration: none;
}

#footer {
	clear: both;
	margin: 20px 0;
	text-align: center;
	background-color: #f0f0f0;
	padding: 5px;
	color: #555555;
}

#Copyright {
	margin-left: 645px;
	margin-top: 330px;
}


#data-artikel{
	width: 615px;
	float: left;
}

.data{
	background: #ffffff;
	padding: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}

.data img  {
	float: none;
	margin-right: 10px;
	width: 594px;
	height: 403px;
}

.data b  {
	color: #616060;
	background: #DDDDDD;
	padding: 3px;
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
}

.data p  {
	margin: 10px 0;
}

.data a {
	display: block;
	text-align: right;
	color: #636363;
}

#sidebar2{
	width: 270px;
	float: right;
	margin-top: -1068px;
}


#sidebar2 h2 {
	font-size: 18px;
	margin: 10px 0;
}

.sidebar2 p {
	line-height: 20px;
	color: #636363;
}

.sidebar2 ul li a {
	color: #636363;
	text-decoration: none;
}





#daftar-list{
	width: 915px;
	float: left;
}

.list{
	background: #ffffff;
	padding: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}

.list img {
	float: left;
	margin-right: 10px;
	width: 200px;
	height: 165px;
}

.list b {
	color: #616060;
	background: #DDDDDD;
	padding: 3px;
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
}

.list p {
	margin: 10px 0;
}

.list a {
	display: block;
	text-align: right;
	color: #636363;
}




